body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4ff;
    color: #222;
    margin: 0;
    padding: 20px;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #6c8cff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

h3 {
    color: #324fcf;
}

img {
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #324fcf;
}

.images {
    margin-top: 15px;
}