/* div {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
    background-color: lightblue;
    display: none;
}
span {
    display: none;
}

img {
    display: none;
} */

.menu {
  display: flex;
  justify-content: space-around;
  background: #333;
  color: white;
  padding: 10px;
}