:root {
    --gray-00: #ffffff;
    --gray-05: #f5f6f7;
    --gray-75: #3b3b4f;
    --gray-85: #1b1b32;
    --gray-90: #0a0a23;
    --blue-50: #198eee;
    --danger-color: #850000;
    --danger-background: #ffadad;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 50px 20px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--gray-85);
    color: var(--gray-05);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Castoro Titling', cursive;
    font-size: 2rem;
}

form {
    color: var(--gray-05);
    width: 100%;
    background-color: var(--gray-75);
    border: 3px solid var(--gray-05);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    font-size: 1.8rem;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--gray-05);
    border-radius: 5px;
    background-color: var(--gray-90);
    color: var(--gray-00);
}

input:focus-visible,
button:focus-visible {
    outline: 3px solid var(--blue-50);
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-image: linear-gradient(#ffcc4c, #f89808);
}

.output {
    margin-top: 20px;
    width: 100%;
    min-height: 60px;
    font-size: 2rem;
    text-align: center;
    border: 3px solid var(--gray-05);
    border-radius: 5px;
    background-color: var(--gray-75);
    color: var(--gray-00);
    padding: 15px;
    word-wrap: break-word;
}

.alert {
    background-color: var(--danger-background);
    border: 3px solid var(--danger-color);
    color: var(--danger-color);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    input {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
    }

    .output {
        font-size: 1.5rem;
        padding: 10px;
    }
}