h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px 0;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 20px auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cap {
    width: 60px;
    height: 100%;
}

.sleeve {
    flex: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}

.red {
    background: linear-gradient(to right, rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 15px rgba(83, 14, 14, 0.8);
}

.green {
    background: linear-gradient(to right, #55680D, #71F53E, #116C31);
    box-shadow: 0 0 15px #3B7E20CC;
}

.blue {
    background: linear-gradient(to right, hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 15px hsla(223, 59%, 31%, 0.8);
}