.container {
    display: flex;
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}