* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Karma", sans-serif
}

.top-menu {
    background-color: #ffff;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    font-size: 24px;
}

.page-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}

.grid-photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo {
    max-width: 300px;
    padding: 0px 8px 50px 8px;
    text-align: center;
}

.photo img {
    width: 100%;
}

.photo h3 {
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    padding: 8px 0px 16px 0px;
}

.photo p {
    font-size: 15px;
    line-height: 1.5;
}

.pagination {
    padding: 16px 0px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-items {
    background-color: rgb(255, 255, 255);
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.bar-items:hover {
    background-color: black;
    color: #ffff;
}

.highlight:hover {
    background-color: #cccccc;
    color: black;
}

.about {
    text-align: center;
}

.about .content {
    max-width: 100%;
    height: auto;
    padding: 0px 30px;
}

.about img {
    max-width: 100%;
    height: auto;
    padding: 0px 30px;
}

.about p {
    padding-bottom: 62px;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px 15px 50px 15px;
}

.footer .footer-items {
    width: 360px;
    text-align: left;
    padding: 14px 0px;
}

.footer .footer-items .content-ul:hover {
    background-color: #cccccc;
}

.footer .footer-items .content-ul .sub-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37px;
}

.footer .footer-items .content-ul span {
    height: 10px;
}

.footer-items p {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.5;
}

.footer-items .tag .key {
    background-color: black;
}

.footer-items .tag span {
    text-align: center;
    background-color: #616161;
    color: #ffff;
    padding: 4px 10px 0px 10px;
    margin: 4px 4px;
}