*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #191930;
    color: #fff;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

.app {
    max-width: 460px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-section {
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    color: #000;
    box-shadow: 8px 8px 0 rgba(255, 255, 255, 0.15);
}

#pokemon-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-row {
    display: flex;
    gap: 10px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
}

#search-btn {
    padding: 10px 18px;
    border: none;
    background: #8d2aff;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#search-btn:hover {
    background: #741fd8;
}

.pokemon-card {
    margin-top: 25px;
    background: #f5f5f5;
    color: #000;
    border-radius: 15px;
    padding: 15px;
}

.details-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-id h2 {
    margin: 0;
    text-transform: capitalize;
}

.pokemon-size {
    font-size: 0.9rem;
    opacity: 0.8;
}

.sprite-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

#sprite {
    width: 200px;
    height: 200px;
}

.type-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.type {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
}

.type.normal {
    background: #b7b7aa
}

.type.fire {
    background: #ff6f52
}

.type.water {
    background: #42a1ff
}

.type.electric {
    background: #fecc33;
    color: #000
}

.type.grass {
    background: #78cc55
}

.type.ice {
    background: #66ccfe
}

.type.fighting {
    background: #d3887e
}

.type.poison {
    background: #c68bb7
}

.type.ground {
    background: #dfba52;
    color: #000
}

.type.flying {
    background: #8899ff
}

.type.psychic {
    background: #ff66a3
}

.type.bug {
    background: #aabb23
}

.type.rock {
    background: #baaa66
}

.type.ghost {
    background: #9995d0
}

.type.dragon {
    background: #9e93f1
}

.type.dark {
    background: #b59682
}

.type.steel {
    background: #abaabb
}

.type.fairy {
    background: #ed99ed
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

thead {
    background: #8d2aff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background: #ecebf5;
}